if [ "$(type -t direnv_load)" = 'function' ]; then
  PATH_add bin
fi
export LOGIN_USER_1=`pass show 123Signup\ AAC\ oca2 | grep '^login:' | head -n1 | cut -d' ' -f2`
export LOGIN_PASSWORD_1=`pass show 123Signup\ AAC\ oca2 | head -n1`
